@model IEnumerable<Bank_MVC_Project.Models.BankTransaction>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var curr_user = await UserManager.GetUserAsync(User);
    var range_size = Math.Min(5, curr_user.Transactions.Count);
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        if (item.ApplicationUsers.Contains(curr_user))
        {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecId)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
        }
}
    </tbody>
</table>
